@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer
    class="container footer d-flex flex-wrap mt-auto justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">© 2022 Reno's Blog</span>
    </div>
</footer>