@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutMe>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{

  Layout = "Master.cshtml";
}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="@Model.Value("aboutMePic")" class="img-fluid rounded-start" alt="This is me.">
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">@Model.Value("aboutMeTitle")</h5>
        <p class="card-text">@Model.Value("aboutMeBody")</p>
      </div>
    </div>
  </div>
</div>